@import "../../styles/imports.scss";


.bgTextContainer2 {
    height: 320px;
    margin-left: 100px;
    margin-right: 100px;
    background: $LightGray;

    &_title {
        font-size: 40px;
        font-weight: 900;
        color: $PrimaryBlue;
        text-align: center;
        padding-top: 50px;
    }

    &_desc {
        width: 1000px;
        margin: 35px auto;

        div {
            margin-bottom: 30px;
        }

        span {
            margin-top: -25px;
            margin-left: 20px;
            display: flex;
            justify-content: center;
            font-size: 18px;
        }

        i {
            font-size: 20px;
            color: $PrimaryBlue;
            font-weight: 900;
        }
    }
}


@media (max-width: 900px) {}

@media (max-width: 700px) {}

@media (max-width: 400px) {
    .bgTextContainer2 {
        height: 470px;
        width: 100%;
        margin-left: 25px;
        margin-right: 30px;
        background: $LightGray;

        &_title {
            font-size: 30px;
            padding-top: 30px;
        }

        &_desc {
            width: 100%;
            p {
                text-align: center;
                font-size: 20px;
            }

            span {
                font-size: 20px;
            }
        }
    }

}