@import "./../../styles/imports.scss";

.container {
    height: 40hv;
    display: grid;
    grid-template-columns: 50% 50%;

    .left {
        margin-top: 50px;
    }
   
    .right {
        margin-top: 200px;

        .title {
            color: $PrimaryBlue;
            margin-bottom: 10px;
        }
        .desc {
            color: white;
            margin-bottom: 20px;
        }
        .button {
            height: 50px;
            background: $PrimaryBlue;
            color: white;
            border: none;
            width: 400px;
        }
    }
}