@import "./../imports.scss";

.home {
  background-color: #fff;

  &__mini-content {
    padding-top: 90px;
    height: 140vh;
  }

  &__img-content {
    padding-left: 100px;
    padding-right: 100px;
  }


}

@media (max-width: 700px) {
  .home__partners__image {
    width: 30%;
  }
}

@media (max-width: 510px) {
  .home__partners__image {
    width: 80%;
  }
}