@import "../../styles/imports.scss";

.textContainer {
  padding-top: 150px;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;

  &__title {
    color: $PrimaryBlue;
    text-align: center;
    width: 900px;
    margin: 0 auto;
    font-size: 35px;
    font-weight: 900;
  }

  &__main { 
    display: grid;
    grid-template-columns: 70% 30%;

    .main__left {
      font-size: 20px;
      margin-top: 50px;

      .main__left_first {
        margin-bottom: 25px;
      }

      span {
        font-weight: 700;
      }
    }

    .main__right {
      position: relative;
      width: 400px;
      height: 266px;
    }
  }
}

@media (max-width: 900px) {}

@media (max-width: 700px) {
  .textContainer {
    padding-top: 120px;
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;

    &__title {
      font-size: 20px;
      width: 500px;
      margin: 0 auto;
    }

    &__main {
      display: grid;
      grid-template-columns: auto;
    }
  }

  .main__right {
    margin: 0 auto;
  }

  .main__left {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 500px) {
  .textContainer {
    padding-top: 120px;
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;

    &__title {
      font-size: 20px;
      width: 350px;
      margin-left: 20px;
    }

    &__main {
      display: grid;
      grid-template-columns: auto;
    }

    .main__left {
      margin-left: 20px;
    }


  }
}