@import "../../styles/imports.scss";


.imgTextContainer {
    &_title {
        font-size: 40px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        color: $PrimaryBlue;
        font-weight: 900;
    }

    &_main {
        display: grid;
        grid-template-columns: 40% 60%;

        &_right {
            font-size: 20px;
            font-weight: normal;
            margin-top: 50px;
        }
    }
}