.slider {
    height: 50vh;
    background: white;

    &__item {
        height: 50vh;
        display: grid;
        grid-template-columns: 1fr 1fr;

        &__img{
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &__text{
            width: 500px;
            height: 200px;
        }
    }
}

