@import "../../styles/imports.scss";


.bgBlueContainer {
    width: 100%;
    height: 240px;
    background: $PrimaryBlue;
    padding-top: 40px;

    &_title {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color: $White;
    }

    &_desc {
        text-align: center;
        color: $White;
        font-size: 20px;
        font-weight: 600;
    }

    &_button {
        margin-top: 25px;
        height: 60px;
        width: 215px;
        background: #f6653c;
        color: $White;
        border: none;
        border-radius: 8px;
    }

}