@import "../../styles/imports.scss";


.bgBlueContainer {
    width: 100%;
    height: 240px;
    background: $PrimaryBlue;
    padding-top: 30px;
    margin: 0 auto;

    &_titles {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color: $White;
        margin-bottom: 10px;
    }

    &_desc {
        color: $White;
        font-size: 20px;
        font-weight: 600;
        width: 850px;
        margin: 0 auto;
    }

    &_btWrapper {
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }

    &_button {
        height: 60px;
        width: 215px;
        background: #f6653c;
        color: $White;
        border: none;
        border-radius: 8px;
    }

}